/**
 * pop-ui.scss
 */

html {
  position: relative;
  min-height: 100%;
  color: #808080;
  font-size: 0.9rem;
  font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

body {
  margin: 0 auto;
  padding: 10px;
  color: #808080;
  font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, div, p {
  color: #808080;
  font-family: 'Source Sans Pro', arial, helvetica, verdana, sans-serif;
}

table th {
  background-color: #dee2e6;
}

.error {
  color: #f00;
  font-weight: bold;
}